.my-navbar {
  background-color: #d11f1f;
}

.my-navbar .navbar-brand,
.my-navbar .nav-link {
  color: white !important; /* Change text color to white */
  font-size: x-large;
  transition: color 0.3 ease, transform 0.3s ease;
}

.my-navbar .navbar-brand {
  margin-left: 10px;
}

.my-navbar .navbar-brand:hover {
  color: #ffcc00 !important;
  transform: scale(1.1);
}

.my-navbar .nav-link:hover {
  color: #ffcc00 !important;
  transform: scale(1.1);
}

.my-navbar .nav-link.disabled {
  color: rgba(
    255,
    255,
    255,
    0.5
  ) !important; /* Optional: A lighter shade for disabled links */
}

.my-div {
  padding-bottom: 0.5%;
  background-color: #bd0404;
}
