<section class="d-flex p-4 justify-content-center align-items-center">
  <div class="container-fluid p-4 w-100 overflow-hidden">
    <div class="row gy-4 justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div
          class="card p-4 d-flex justify-content-center"
          [style]="{ 'background-color': book.color }"
        >
          <img [src]="book.imgURL" class="image-fluid h-25 w-auto" />
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="d-flex p-4 justify-content-center align-items-center book-name mt-4"
>
  <h1 class="d-flex justify-content-center align-items-center flex-column">
    <span class="sub-heading-one"
      ><strong>{{ book.name }}</strong></span
    >
  </h1>
</section>

<section
  class="d-flex p-4 justify-content-center align-items-center flex-column"
>
  <h2 class="p-4">{{ book.summary }}</h2>
  <p class="p-4 mt-2">
    {{ book.fullDescription }}
  </p>
</section>

<section
  class="d-flex p-4 justify-content-center align-items-center flex-column"
  [style]="{ 'background-color': book.color }"
>
  <h2 class="p-4">Consíguelo ya! Comunícate con nosotros</h2>
  <p class="p-2">Whatsapp: 7160-5774</p>
  <a
    target="_blank"
    aria-label="Chat on WhatsApp"
    href="https://wa.me/50671605774?text=I'm%20interested%20in%20your%20car%20for%20sale"
    ><img alt="Chat on WhatsApp" src="/assets/images/whatsapp.png"
  /></a>
  <p class="p-2 mt-2">Correo electrónico: jbazkervyl&#64;gmail.com</p>
  <a
    href="mailto:jbazkervyl@gmail.com"
    class="btn btn-primary p-2"
    target="_blank"
    >Enviar correo</a
  >
</section>
