<section class="container-fluid p-4 w-100 overflow-hidden">
  @for(socialNetwork of socialNetworks; track socialNetwork.id){
  @if(socialNetwork.id // 2 == 0){
  <div class="row gy-4 gx-4 p-4">
    <div class="col-12 col-md-6 col-lg-6">
      <div class="card p-4 shadow">
        <img
          [src]="socialNetwork.imgUrl"
          class="img-fluid"
          [alt]="socialNetwork.name"
        />
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6 align-self-center">
      <div class="card p-4 card-text">
        <div class="card-body">
          <h2 class="text">{{ socialNetwork.name }}</h2>
          <p class="text">
            {{ socialNetwork.description }}
          </p>
          <div class="mt-auto">
            <a
              [href]="socialNetwork.link"
              class="btn btn-primary"
              target="_blank"
              >Visitar página</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  }@else{
  <div class="row gy-4 gx-4 p-4">
    <div class="col-12 col-md-6 col-lg-6 align-self-center">
      <div class="card p-4 card-text">
        <div class="card-body">
          <h2 class="text">{{ socialNetwork.name }}</h2>
          <p class="text">
            {{ socialNetwork.description }}
          </p>
          <div class="mt-auto">
            <a
              [href]="socialNetwork.link"
              class="btn btn-primary"
              target="_blank"
              >Visitar página</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
      <div class="card p-4 shadow">
        <img
          [src]="socialNetwork.imgUrl"
          class="img-fluid"
          [alt]="socialNetwork.name"
        />
      </div>
    </div>
  </div>
  } }
  <div class="row gy-4 gx-4 p-4">
    <div class="col-12 col-md-6 col-lg-6 align-self-center">
      <div class="card p-4 card-text">
        <div class="card-body">
          <h2 class="text">Correo electrónico</h2>
          <p class="text">
            ¿Tienes dudas o simplemente quieres enviar un mensaje de aprecio al
            autor? Este es el lugar!
          </p>
          <div class="mt-auto">
            <a
              href="mailto:jbazkervyl@gmail.com"
              class="btn btn-primary"
              target="_blank"
              >Enviar correo</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
      <div class="card p-4 shadow">
        <img
          src="/assets/images/envelope-icon.png"
          class="img-fluid"
          alt="Correo electrónico"
        />
      </div>
    </div>
  </div>
</section>
