<section class="d-flex p-4 justify-content-center align-items-center">
  <div class="container-fluid p-4 w-100 overflow-hidden">
    <div class="row gy-4 justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div
          class="card p-4 d-flex justify-content-center"
          [style]="{ 'background-color': character.color }"
        >
          <img [src]="character.imgURL" class="image-fluid h-25 w-auto" />
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="d-flex p-4 justify-content-center align-items-center character-name"
  [style]="{ 'background-color': character.color }"
>
  <h1 class="d-flex justify-content-center align-items-center flex-column">
    <span class="sub-heading-one"
      ><strong>{{ character.characterName }}</strong></span
    >
  </h1>
</section>

<section
  class="d-flex p-4 justify-content-center align-items-center flex-column"
>
  <h2 class="p-4">{{ character.characteristics }}</h2>
  <p class="p-4 mt-2">
    {{ character.fullDescription }}
  </p>
</section>
