<section class="d-flex p-4 justify-content-center align-items-center">
  <h1 class="d-flex justify-content-center align-items-center flex-column">
    <span class="sub-heading-one"><strong>Conoce a</strong> los</span>
    <span class="enhanced-text">Protagonistas</span>
  </h1>
</section>

<section class="container-fluid p-4 w-100 overflow-hidden">
  <div class="row gy-4 gx-4 p-4">
    @for(character of characters; track character.id){
    <app-character-card
      class="col-md-4 col-lg-4"
      [characterName]="character.characterName"
      [id]="character.id"
      [imgURL]="character.imgURL"
      [summary]="character.summary"
    ></app-character-card>
    }
  </div>
</section>
