<main class="d-flex p-4 justify-content-center align-items-center">
  <h1 class="d-flex justify-content-center align-items-center flex-column">
    <span class="sub-heading-one"
      ><strong class="enhanced-text">Scarlet</strong> y Las</span
    >
    <span class="sub-heading-two">Bestias Arcanas</span>
  </h1>
</main>

<div
  class="d-flex p-4 justify-content-center align-items-center background-image"
>
  <div class="container-fluid p-4 w-100 overflow-hidden">
    <div class="row gy-4">
      <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <div class="card p-4 shadow">
          <img
            src="/assets/images/scarlet-home-image.png"
            class="pop-out-image mt-1 image-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<section
  class="d-flex p-4 justify-content-center align-items-center flex-column"
>
  <h2 class="p-4">Prepárate para la aventura</h2>
  <p class="p-4 mt-2">
    Descubre el fascinante mundo de Scarlet Y Las Bestias Arcanas, una historia
    llena de épicas batallas, romance y entrañables personajes. Sigue a Scarlet
    y sus aliados mientras recorren la senda que los llevará al heroísmo, a la
    vez que enfrentan la maldad que acecha en las sombras.
  </p>
</section>
